<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ridiculus, metus litora felis a quis commodo dignissim quam, vestibulum mauris dictumst nullam auctor etiam est. Torquent turpis proin malesuada metus nibh tristique ultrices pharetra, lectus ridiculus primis hac risus fringilla ut morbi parturient, fusce leo nostra aptent rhoncus consequat aliquet. Turpis sodales fermentum pharetra per potenti dictum tellus nam sed vivamus magna dignissim, mi sem massa nostra parturient aliquam ad iaculis luctus himenaeos facilisi. </p> <img src="https://i.imgur.com/lE89Aey.jpg">
                    <div id="image-caption">Jefe!</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                    <div id="image-caption">Cromption Greves</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                    <div id="image-caption">Harry Mon</div>
                </div>
            </div>
        </div><!--   <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fas fa-arrow-right'></i> </a> -->
    </div>
</div>


<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>