<p>productos works!</p>


<ul class="list-group">
    <li class="list-group-item"  *ngFor="let item of producto, index as i">
        <h6>Nombre: {{item.nombre}}</h6>
        <h6>Categoria: {{item.categoria}}</h6>
        <h6>Descripcion: {{item.descripcion}}</h6>
        <a [routerLink]="['/carrito',i]">Comprar!</a>
    </li>
   
  </ul>


  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 fixed-bottom">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>