<content>
    <form [formGroup]="personaModel" (ngSubmit)="guardar()" class="m-3 col-lg-6">
        <div class="mb-3 form-group">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            <input 
            type="email" 
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp"
            formControlName="email">
            <small class="text-danger"
                 *ngIf="
                    personaModel.get('email')!.invalid && personaModel.get('email')!.touched
                    ">Porfavor coloque un Email
                </small>
        
        </div>
        <div class="mb-3 form-group">
            <label for="exampleInputNombre" class="form-label">Nombre</label>
            <input 
                type="name" 
                class="form-control" 
                id="exampleInputName" 
                aria-describedby="NamelHelp"
                id="nombre" formControlName="nombre" >
                <small class="text-danger"
                 *ngIf="
                    personaModel.get('nombre')!.invalid && personaModel.get('nombre')!.touched
                    ">Porfavor coloque un nombre
                </small>
        </div>
        <div class="mb-3 form-group">
            <label for="exampleInputApellido" class="form-label">Apellido</label>
            <input 
                type="apellido" 
                class="form-control" 
                id="exampleInputName" 
                aria-describedby="NamelHelp"
                id="apellido" formControlName="apellido">
                <small class="text-danger"
                 *ngIf="
                    personaModel.get('apellido')!.invalid && personaModel.get('apellido')!.touched
                    ">Porfavor coloque un apellido
                </small>
        </div>
        <div class="mb-3">
            <label for="exampleInputEdad" class="form-label">Edad</label>
            <input 
                type="edad" 
                class="form-control" 
                id="exampleInputName" 
                aria-describedby="NamelHelp"
                id="edad" formControlName="edad">
                <small class="text-danger"
                 *ngIf="
                    personaModel.get('edad')!.invalid && personaModel.get('edad')!.touched
                    ">Porfavor coloque una edad
                </small>
        </div>
        <div class="mb-3">
            <label for="exampleInputDireccion" class="form-label">Direccion</label>
            <input 
                type="address" 
                class="form-control" 
                id="exampleInputName" 
                aria-describedby="NamelHelp"
                id="direccion" formControlName="direccion">
                <small class="text-danger"
                 *ngIf="
                    personaModel.get('direccion')!.invalid && personaModel.get('direccion')!.touched
                    ">Porfavor coloque una Direccion
                </small>
        </div>
        
        
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
    estado formulario {{ personaModel.valid}}
</content>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>